<h2>Introduce Yourself</h2>

<%= flash[:success] %>

<%= form_for( @form, url: '/intro', method: :put ) do |f| %>
    <%= f.text_field :first_name %>
    <%= f.text_field :last_name %>

    <%= f.submit %>
<% end %>